<div class="row ">
	<div class="menu">

		<ul class="item">
			<li><a href="/admin/manageadgroups"> AD Group Management</a></li>
			<li><a href="/admin/managecr">CR Management</a></li>
			<li><a href="/admin/manageritm">RITM Management</a></li>
			<li><a href="/admin/manageincident">Incident Management </a></li>

		</ul>
	</div>
	<div class="data ">

		<a href="javascript:void(0);" class="icon">
			<i class="fa fa-bars "></i>
		</a>


		<p>{{title}}</p>