<footer>
    <div class="pull-left">
        <p>©
            <span id="copyright">
                <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
            </span> Elanco or its affiliates</p>
        <p>Elanco and the diagonal bar logo are trademarks of Elanco or its affiliates</p>
    </div>
    <div class="pull-right">
        <img alt="Elanco Logo" src="img/elanco-logo-footer.png">
    </div>
    <div class="pull-right privacy-statement" style="padding-right: 21px;padding-top: 16px;">
       <p>
			<a href="https://www.elancostatements.com/en/privacy/elanco-com" target="_blank">Privacy Policy</a> | <a href="https://www.elancostatements.com/en/terms-of-use/elanco-com" target="_blank">Terms of Use</a>
		</p>
    </div>
</footer>