registry = https://elilillyco.jfrog.io/elilillyco/api/npm/Lilly-NPM/
_auth = YXJ0aWZhY3RvcnlAbGlzdHMubGlsbHkuY29tOkFLQ3A1YkIzY3hrdkVGRmlYQUtSU2lQZjFyV0dKV0JIZDllcHoxcEtDSlk4WWNjcDhyb2J6dm52OXV0VjhYNXN3TGFrUlY1d1A= 
always-auth = true
email = artifactory@lists.lilly.com