<div class="container-fluid mybreadcrumb">
    <div class="row">
        <div class="btn-group btn-breadcrumb">
            <a href="/search" class="btn btn-default">
                <i class="fa fa-home"></i>
            </a>
            <a href="#" class="btn btn-default">
                <i>New CM Creation</i>
            </a>
        </div>
    </div>
</div>
</header>
<div class="container-fluid create-cm">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-3" for="">SAP Vendor Code:<span class="mandatory-star">*</span></label>
            <div class="col-sm-9">
                <div class="input-group input-group-lg">
                    <span class="input-group-btn" data-toggle="tooltip" title="You MUST have to hand the SAP MP code of the Partner you would like to have. In a case where the Partner does not have an MP code in SAP; search using the SAP VN code.">
                        <button class="btn btn-secondary" type="button">
                            <i class="fa fa-info"></i>
                        </button>
                    </span>
                    <input maxlength="10" id="vendorcode" type="text" class="form-control input-lg">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" id="searchcm" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for=""></label>
            <div class="col-sm-9">
                <label>
                    <small>
                        <input class="issystemgen" type="checkbox" /> Generate System Vendor Code </small>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="">SAP Vendor Name:<span class="mandatory-star">*</span></label>
            <div class="col-sm-9">
                <input id="vendorname" maxlength="50" type="text" class="form-control input-lg">
            </div>
        </div>
        <input id="vendorsearchterm" maxlength="50" type="hidden" class="form-control input-lg">
        <input id="cityname" maxlength="50" type="hidden" class="form-control input-lg">
        <input id="countryname" maxlength="50" type="hidden" class="form-control input-lg">
        <input id="vendorpostalcode" maxlength="50" type="hidden" class="form-control input-lg">
        <input id="vendorregion" maxlength="50" type="hidden" class="form-control input-lg">
        <div class="form-group">
            <label class="control-label col-sm-3" for="">SAP Vendor Address:</label>
            <div class="col-sm-9">
                <textarea rows="3" maxlength="2000" id="vendoraddress" class="form-control input-lg"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="">Hub Oversight:<span class="mandatory-star">*</span></label>
            <div class="col-sm-9">
                <select class="form-control input-lg" id="huboversight">
                    <option value="0" >--Select--</option>
                    {{#each data}}
                    <option value="{{this.Id}}">{{this.Value}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" id="createcm" class="btn btn-lg btn-default">Create</button>
                <button type="reset" id="cancelcm" class="btn btn-lg btn-default">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script>
    var productData;
    var isfoundcm = false;

    $("#cancelcm").click(function () {
        document.location.href = '/search'
    });

    function populatedata(response) {
        $("#vendorname").val(response.data[0].vendorname);
        $("#vendorsearchterm").val(response.data[0].vendorsearchterm);
        $("#cityname").val(response.data[0].cityname);
        $("#countryname").val(response.data[0].countryname);
        $("#vendorpostalcode").val(response.data[0].vendorpostalcode);
        $("#vendorregion").val(response.data[0].vendorregion);
        $("#vendoraddress").val(response.data[0].vendoraddress);

        $('#vendorname').attr("disabled", 'disabled');
        $('#vendoraddress').attr("disabled", 'disabled');
        $('.issystemgen').attr("disabled", 'disabled');

        isfoundcm = true;
    }

    $("#searchcm").click(function () {
        const vendorcode = $.trim($("#vendorcode").val());
        $("#vendorcode").removeClass("error");
        if (vendorcode === "") {
            $("#vendorcode").addClass("error");
        }
        if (vendorcode != "") {
            $.ajax({
                url: "/pullcmdetails/" + vendorcode,
                type: "GET",
                cache: false,
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response.data.length > 0) {
                        if(response.data[0].vendorsearchterm.split("/")[1] === "VN") {
                        if (confirm('This is a VN Code, not an MP Code. Are you sure you want to create CM with a VN Code?')) {
                            if(response.productData.length > 0) {
                                productData = response.productData;
                                populatedata(response);
                            } else {
                                if (confirm('There is no product data associated with this VN Code. Do you still want to proceed and create CM?')) {
                                    populatedata(response);
                                }
                            }
                        }
                    } else {
                            if(response.productData.length > 0) {
                                productData = response.productData;
                                populatedata(response);
                            } else {
                                if (confirm('There is no product data associated with this MP Code. Do you still want to proceed and create CM?')) {
                                    populatedata(response);
                                }
                            }
                        }
                    } else {
                        alert('No MP Code or VN Code exist');
                    }
                },
                error: function (e) {
                    console.log('Error fetching CM data');
                    console.log(e);
                }
            });
        }
    });
    $("#createcm").click(function () {
        var vendorcode = $.trim($("#vendorcode").val());
        var vendorname = $.trim($("#vendorname").val());
        var vendoraddress = $.trim($("#vendoraddress").val());
        var vendorhuboversight = $.trim($("#huboversight").val());
        var issystemgen = $('.issystemgen').is(':checked');
        var cityname = $.trim($("#cityname").val());
        var countryname = $.trim($("#countryname").val());
        var vendorpostalcode = $.trim($("#vendorpostalcode").val());
        var vendorregion = $.trim($("#vendorregion").val());
        var vendorsearchterm = $.trim($("#vendorsearchterm").val());

        $("#vendorcode").removeClass("error");
        $("#vendorname").removeClass("error");
        $("#huboversight").removeClass("error");
        

        if (vendorcode === "") {
            $("#vendorcode").addClass("error");
        }
        if (vendorname === "") {
            $("#vendorname").addClass("error");
        }
        if (isfoundcm === false && !issystemgen) {
            alert('Please enter a correct Partner Code and click on search button to fetch the CM details');
        }
        if (vendorhuboversight=== "0")
        {
            $("#huboversight").addClass("error");
        }   
        if (vendorcode != "" && vendorname != "" && (isfoundcm || issystemgen) && vendorhuboversight !== "0") {
            $.ajax({
                url: "/createnewcm",
                type: "POST",
                cache:false,
                data: { vendorcode: vendorcode, vendorname: vendorname, vendoraddress: vendoraddress, vendorhub: vendorhuboversight, issystemgen: issystemgen, cityname: cityname, countryname: countryname,
                vendorpostalcode: vendorpostalcode, vendorregion: vendorregion, vendorsearchterm: vendorsearchterm, productData: productData },
                success: function (response) {
                    console.log(response);
                    // if(response === 'added') {
                    if(response.status === 'added') {
                        //location.reload();                       
                        alert('CM created successfully');
                        // window.location.href = window.location.href.split('#')[0];
                        if (response.data[0] !=="" && response.data[0] !== undefined && response.data[0] != null) {
                            window.location.href = '/cmoverview?vendorid='+ response.data[0].vendorid;
                        } else {
                            window.location.href = window.location.href.split('#')[0];
                        }                        
                     } else if(response.status === 'exist') {
                    //  } else if(response === 'exist') {
                        location.reload();
                        alert('CM is already existed in the system');
                    } else {                        
                        alert('Error in creating CM');
                        window.location.href = window.location.href.split('#')[0];
                        // location.reload();
                        console.log(response);
                    }
                },
                error: function (e) {
                    console.log('Error while creating cm');
                    console.log(e);
                }
            });
        }
    });

    function makeid() {
        var text = "";
        var possible = "0123456789ABCDEFHIJKLMNOPQRTUVWXYZabcdefhijklmnopqrtuvwxyz";
        text = text + "SG";
        for (var i = 0; i < 5; i++) {
            text += possible.charAt(Math.floor(Math.random() * possible.length));
        }
        return text;
    }

    $(document).ready(function () {

        $('.issystemgen').change(function () {
            if (this.checked) {
                $("#vendorcode").val(makeid);
                $("#vendorcode").prop("readonly", true);
                $("#searchcm").attr("disabled", 'disabled');
            }
            else {
                $("#vendorcode").val("");
                $("#vendorcode").prop("readonly", false);
                $("#searchcm").removeAttr("disabled");

            }

        });
        $(".navbar-nav li").removeClass('active');
        $(".navbar-nav li:eq(0)").addClass('active');
        $(".navbar-nav li:eq(0) a").css("background-color", "#0073cc");
    });
    $('[data-toggle="tooltip"]').tooltip();
</script>