
 
 
    <form ref='uploadForm' encType="multipart/form-data" class="" action="/upload" method="post" style="margin:20px">
     <input type="file" name="sampleFile" value="" accept=".csv" style="width:300px">
      <input type="submit" name="" value="upload!" style="width: 120px;padding: 5px;background: #0067b1;color: #fff;">
    </form>
