{{#if data}}
<script type="text/javascript" src="/vendor/janrain-prodinit.js"></script>
{{else}}
<script type="text/javascript" src="/vendor/janrain-init.js"></script>
{{/if}}
<script type="text/javascript">
  // --- page-specific settings ------------------------------------------
  janrain.settings.capture.flowName = 'elanco_register';
  janrain.settings.capture.screenToRender = 'resetPasswordRequestCode';
  // --- define event handlers and start the janrain ui ------------------
  function janrainCaptureWidgetOnLoad() {
	  janrain.capture.ui.registerFunction('passwordValidation', janrainCustomPasswordValidation);
	  // should be the last line in janrainCaptureWidgetOnLoad()
	  janrain.capture.ui.start();
  }
</script>
<!-- Capture widget screens -->
<div style="display: none;" id="resetPassword">
	<div class="capture_header">
		<h1>Change password</h1>
	</div>
	{* newPasswordForm *}
		{* newpassword *}
		{* newpasswordConfirm *}
	   
	<div class="capture_footer">
		{* submitButton *}
	</div>
	{* /newPasswordForm *}
</div>
<div style="display: none;" id="resetPasswordSuccess">
	<div class="capture_header">
		<h1>Your password has been changed.</h1>
	</div>
	<p>The password has been successfully updated.</p>
	<div class="capture_footer">
		<a href="/externallogin" class="capture_btn capture_primary">Login</a>
	</div>
</div>
<div style="display: none;" id="resetPasswordRequestCode">
	<div class="capture_header">
		<h1>Create a new password</h1>
	</div>
	<p>This password reset code is not recognized. Enter your email address to get a new one.</p>
	{* #resetPasswordForm *}
		{* traditionalSignIn_emailAddress *}
	   
	<div class="capture_footer">
		{* forgotPassword_sendButton *}
	   
	</div>
	{* /resetPasswordForm *}

</div>
<div style="display: none;" id="resetPasswordRequestCodeSuccess">
	<div class="capture_header">
		<h1>Create a new password</h1>
	</div>
	<p>We've sent you an email with instructions for creating a new password. Your existing password has not been changed.</p>
	<div class="capture_footer">
		<a href="#" onclick="janrain.capture.ui.modal.close()" class="capture_btn capture_primary">Close</a>
	</div>
</div>
<div style="display: none;" id="userStatusPostLogin">
 Access denied. Your user account is not activated.
</div>
<div style="display: none;" id="countryPostLogin">
  Access denied. Inappropriate country.
</div>
<div style="display: none;" id="professionalGroupPostLogin">
	Access denied. Inadequate professional group.
</div>
	