<div class="container service-reivew">
    <label id="review-window-status"></label>
    <div class="window-container">
        <div class='col-md-3 input-group fromdate'>
            <div class="datetimepicker-div">
                <label>Review Start Month</label>
                <div class='input-group date' id='reviewStartDate'>
                    <input type='text' class="cmdate form-control input-md" onkeydown="event.preventDefault()"
                        required />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-md-3 input-group todate'>
            <div class="datetimepicker-div">
                <label>Review End Month</label>
                <div class='input-group date' id='reviewEndDate'>
                    <input type='text' class="cmdate form-control input-md" onkeydown="event.preventDefault()"
                        required />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary custom-btn" id="save-window">SAVE</button>
        </div>
    </div>
    <table id="example" class="display table table-bordered table-condensed" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Sr No.</th>
                <th hidden="hidden">Vendor Id</th>
                <th>Vendor Name</th>
                <th>Partner Code</th>
                <th>Review Status</th>
                <th>Last Modified By</th>
                <th>Last Modified Date</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
<script>
    $(document).ready(function (e) {
        $(".navbar-nav li").removeClass('active');
        $(".navbar-nav li:eq(4)").addClass('active');
        $(".navbar-nav li:eq(4) a").css("background-color", "#0073cc");
        var table;
        console.log("data******",{{{data}}});
        table = $('#example').DataTable({
            "columnDefs": [{
                "searchable": true,
                "orderable": false,
                "targets": 0
            }],
            "order": [[1, 'asc']],
            "scrollX": true,
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "paging": true,
            data: {{{ data }}},
        columns: [{
            data: 'vendorid',
            searchable: false,
            'createdCell': function (td, cellData, rowData, row, col) {
                $(td).attr('hidden', 'hidden');
            }
        },
        {
            data: null,
            searchable: false,
            orderable: false,
            className: 'text-center'
        },
        {
            data: 'vendorname',
            render: $.fn.dataTable.render.text(),
            className: 'text-center'
        },
        {
            data: 'partnercode',
            render: $.fn.dataTable.render.text(),
            className: 'text-center'
        },
        {
            data: 'reviewstatus',
            render: $.fn.dataTable.render.text(),
            className: 'text-center'
        },
        {
            data: 'modifiedby',
            render: $.fn.dataTable.render.text(),
            className: 'text-center'
        },
        {
            data: 'modifieddate',
            render: $.fn.dataTable.render.text(),
            className: 'text-center'
        },
        {
            data: 'action'
        }]
    });
    table.on('order.dt search.dt', function () {
        table.column(1, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
            cell.innerHTML = i + 1;
        });
    }).draw();
    // Code for Date picker validation starts
    //reopen button
    $("#example").on("click", "td #reopen-btn", function (e) {
        var vendorId = $(this).closest("tr").off("mousedown").find("td").eq(0).html()
        console.log("vendorId***************", vendorId);
        $.ajax({
            url: '/updateservicereviewcmdetail?vendorId=' + vendorId,
            type: "PUT",
            success: function (data) {
                console.log('data*******', data);
                if (data == "Service review reopened") {
                    alert("Service review reopened successfully");
                    console.log('Service Saved successfully !');
                    location.reload();
                }
            },
            error: function (textStatus, errorThrown) {

            }
        });
    })

    var eventLastDate;
    var currentMonth = (new Date).getMonth();
    $('#reviewEndDate').datetimepicker({
        format: 'YYYY-MM',
    }).on('dp.change', function (event) {
        if ($('#reviewEndDate input').val() !== '') {
            eventLastDate = $('#reviewEndDate input').val();
        }
        eventLastDate = new Date(event.date._d.getFullYear(), event.date._d.getMonth() + 1, 0, 23, 59, 59);
        console.log("inside end date eventLastDate", eventLastDate);
    });
    $('#reviewStartDate').datetimepicker({
        format: 'YYYY-MM',
    }).on('dp.change', function (event) {
        const fromDate = $('#reviewStartDate').data('date');
        if (fromDate !== '') {
            if ($('#reviewEndDate input').val() !== '') {
                eventLastDate = $('#reviewEndDate input').val();
            } else {
                eventLastDate = new Date(event.date._d.getFullYear(), event.date._d.getMonth() + 1, 0, 23, 59, 59);
            }
            $('#reviewEndDate').data("DateTimePicker").minDate(event.date._d);
            var maxDate = new Date('31 Dec ' + (event.date._d).getFullYear() + ' ' + '23:59:59');
            $('#reviewStartDate').data("DateTimePicker").maxDate(maxDate)
            $('#reviewEndDate').data("DateTimePicker").maxDate(maxDate)
            console.log("inside start date eventLastDate", eventLastDate);
        }
        else {
            $('#datetimepicker2').data("DateTimePicker").minDate(event.date + 1)
        }
    });
    var months = [
        'Jan', 'Feb', 'Mar', 'Apr', 'May',
        'Jun', 'Jul', 'Aug', 'Sep',
        'Oct', 'Nov', 'Dec'
    ];
    function monthNumToName(monthnum) {
        return months[monthnum - 1] || '';
    }
    // Code for Date picker validation ends
    const currentYear = new Date().getFullYear()
    $.ajax({
        url: "/fetchreviewwindow",
        type: "POST",
        data: {
            year: currentYear,
        },
        success: function (data) {
            var currentDate = new Date(new Date().setMonth((new Date).getMonth()))
            var monthNum = (currentDate.getMonth() + 1);
            var monthName = monthNumToName(monthNum);
            var newCurrentDate = new Date((currentDate.getFullYear() + '/' + monthName + '/01')).getTime();
            console.log("newCurrentDate", newCurrentDate);
            if (data.message == 'data fetched') {
                var review_date_start = new Date(data.data.startdate);
                var review_date_end = new Date(data.data.enddate);
                var reviewStartDate = new Date((review_date_start.getMonth() + 1) + '/' + review_date_start.getDate() + '/' + review_date_start.getFullYear()).getTime();
                var reviewEndDate = new Date((review_date_end.getMonth() + 1) + '/' + review_date_end.getDate() + '/' + review_date_end.getFullYear()).getTime();
                //review window started and current date is in between review window
                if (reviewStartDate <= newCurrentDate && reviewEndDate >= newCurrentDate) {
                    $('#reviewStartDate').val("");
                    $('#reviewStartDate').data("DateTimePicker").date(new Date(reviewStartDate));
                   // $('#reviewStartDate').data("DateTimePicker").minDate(new Date(newCurrentDate))
                    $('#reviewEndDate').data("DateTimePicker").maxDate(new Date('31 Dec '+ currentYear))
                    $('#reviewStartDate').data("DateTimePicker").maxDate(new Date('31 Dec '+ currentYear))
                    $('#reviewStartDate').find('input').attr('disabled', 'disabled');
                    $('#reviewEndDate').val("")
                    $('#reviewEndDate').data("DateTimePicker").date(new Date(reviewEndDate));
                    $('#reviewEndDate').find('input').attr('disabled', 'disabled');
                    $('#save-window').attr('disabled', 'disabled');
                    $('#review-window-status').text('Service Review Window has been opened.');
                }
                //review window is not started and current date is smaller than review window start date
                else if (reviewStartDate > newCurrentDate && reviewEndDate > newCurrentDate) {
                    $('#reviewStartDate').val("");
                    $('#reviewStartDate').data("DateTimePicker").date(new Date(reviewStartDate));
                    $('#reviewStartDate').data("DateTimePicker").minDate(new Date(newCurrentDate))
                    $('#reviewEndDate').data("DateTimePicker").maxDate(new Date('31 Dec '+ currentYear))
                    $('#reviewStartDate').data("DateTimePicker").maxDate(new Date('31 Dec '+ currentYear))
                    $('#reviewEndDate').val("")
                    $('#reviewEndDate').data("DateTimePicker").date(new Date(reviewEndDate));
                    $("#example").find("input,button,textarea,select").attr("disabled", "disabled");
                    $('#review-window-status').text('Service Review Window will open for these dates.');
                    table.on('page.dt', function () {
                        table.$(".custom-btn", { "page": "all" }).attr("disabled", "disabled");
                    }).draw();
                }
                //review window closed
                else if (newCurrentDate > reviewStartDate && newCurrentDate > reviewEndDate) {
                    $('#reviewStartDate').data("DateTimePicker").date(new Date(reviewStartDate));
                    $('#reviewEndDate').data("DateTimePicker").maxDate(new Date(reviewEndDate))
                    $('#reviewStartDate').data("DateTimePicker").maxDate(new Date(reviewEndDate))
                    $('#reviewStartDate').find('input').attr('disabled', 'disabled');
                    $('#reviewEndDate').find('input').attr('disabled', 'disabled');
                    $('#save-window').attr('disabled', 'disabled');
                    $("#example").find("input,button,textarea,select").attr("disabled", "disabled");
                    $('#review-window-status').text('Service Review Window has been closed.');
                    table.on('page.dt', function () {
                        table.$(".custom-btn", { "page": "all" }).attr("disabled", "disabled");
                    }).draw();
                }
            } else if (data.message == 'empty' || data.message == 'No record found') {
                $('#reviewStartDate').val("");
                $('#reviewStartDate').data("DateTimePicker").date(new Date(newCurrentDate));
                $('#reviewStartDate').data("DateTimePicker").minDate(new Date(newCurrentDate))
                $('#reviewEndDate').data("DateTimePicker").maxDate(new Date('31 Dec '+ currentYear));
                $('#reviewStartDate').data("DateTimePicker").maxDate(new Date('31 Dec '+ currentYear));
                $("#example").find("input,button,textarea,select").attr("disabled", "disabled");
                $('#review-window-status').text('Service Review Window has not been opened.');
                table.on('page.dt', function () {
                    table.$(".custom-btn", { "page": "all" }).attr("disabled", "disabled");
                }).draw();
            }
        },
        error: function (textStatus, errorThrown) {
            response = JSON.parse(textStatus.responseText)
            if (response.error == 'password') {
                console.log('WRONG USERNAME OR PASSWORD !')
            } else if (response.error == 'database') {
                console.log('Looks like we are having some issues with our database. please TRY AGAIN!')
            }
            else {
                console.log('ERROR')
            }
        }
    });
    // Logic for Save button
    $('#save-window').click(function (e) {
        if ($('#reviewStartDate input').val() == '' || $('#reviewEndDate input').val() == '') {
            alert('Please select reviewStartDate and reviewEndDate');
        } else {
            if (confirm('Are you sure you want to set review window?')) {
                // Save it!
            const reviewStartDate = $('#reviewStartDate input').val();
            //const reviewEndDate = $('#reviewEndDate input').val();
            const reviewEndDate = eventLastDate;
            const formatted_start = new Date(reviewStartDate);
            const formatted_end = new Date(new Date(reviewEndDate));
            console.log("reviewEndDate", reviewEndDate);
            $.ajax({
                url: "/savereviewwindow",
                type: "POST",
                data: {
                    reviewStartDate: formatted_start,
                    reviewEndDate: formatted_end,
                    currentYear: new Date().getFullYear(),
                },
                success: function (data) {
                    console.log('Review Window Saved successfully !');
                    location.reload();
                },
                error: function (textStatus, errorThrown) {
                    response = JSON.parse(textStatus.responseText)
                    console.log(response.error)
                    if (response.error == 'password') {
                        console.log('WRONG USERNAME OR PASSWORD !')
                    } else if (response.error == 'database') {
                        console.log('Looks like we are having some issues with our database. please TRY AGAIN!')
                    }
                    else {
                        console.log('ERROR')
                    }
                }
            });
            } else {
                return;
                // Do nothing!
            }
        }
    })
    });
</script>